PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/projetocolortim"
JWT_SECRET="troque-por-uma-chave-grande-com-no-minimo-64-caracteres"
CORS_ORIGIN="http://localhost:5173"
