# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/colortim_db"

# JWT
JWT_SECRET="colortim-super-secret-key-change-this-in-production-min-64-chars-required"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV=development

# CORS - Origem do frontend
CORS_ORIGIN="http://localhost:5173"
